html, body, div {
	font-family: 'Montserrat', sans-serif;
}
.jumbotron {
	background: #2e3b44 url("../images/jumbo.gif");
	background-size: 100% auto;
	padding:7em;
}
.jumbotron h1 {
	color: #FFF;
}
.jumbotron p {
	color: #BDC5CA;
}
.col-md-4 {
	margin-bottom:15px;
}
.btn-group button, .btn-group button:hover {
	border-color:#EE4632;
}
.btn-group button {
	color:#EE4632;
	background-color:transparent;
}
.btn-group button:hover {
	background-color:#EE4632;
	color:#FFF;
}
.off {
	display:none;
}
.on {
	display:block;
}
.btn-filestack {
	background-color: #EE4632;
	border-color: #EE4632;
}
.btn-filestack, .btn-filestack:hover {
	color: #FFF;
}
.btn-filestack:hover {
	background-color: #db2812;
}
.navbar-inverse {
	background-color: #283A46;
    border-bottom-color: #8D98A0;
}
.navbar-brand {
	color: #FFF !important;
}
.navbar-nav li a{
	color:#BAC3C9 !important;
}